*
html,body{
    height: 100%;
    width: 100%;
}
 #cont{

    background-image:  url(./picture/main1.jpg);
}
.navbar-toggler {
    padding: .5rem 1rem;
    font-size: 2rem;
    line-height: 1;
    background-color: transparent;
    border: 1px transparent;
    
}
.navbar-c{
    position: fixed;
    width: 100%;
    z-index: 111;
}
.nav-dropdown {
    text-align: center;
    background-color: #fac769;
}
.menu-cid{

    padding: 1rem 1rem;
    position:fixed ;
    position:inherit;
    background-color: transparent;
}
.contain{
    width: 2;
    height: 100%;
    
}
.position-absolute{
    top: 150;
    padding: 0 90px;
}
.btn{
    background-color: #ffffff;
    border-radius: 1.5rem;
}
.soc-item{
    display: inline-block;
}
.social{
    text-align: center;
    padding-right: 45;
}
.find{
    padding-top: 30px;
    padding-bottom: 10px;
}
.mbr-section-btn {
    margin-left: -.25rem;
    margin-right: -.25rem;
    font-size: 0;
    text-align: center;
}
.mbr-text{
    padding-bottom: 40px;
    
}
.sec3{
      background-color: #fac769;
      max-width: 100%;
      text-align: center;
}

.display-2 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    color: #fff;

}
.display-5{
    font-size: 1rem;
    font-weight: bold;
    padding-top: 15;
    margin-left: 15;
}

.high{
    font-weight: bold;
    padding-left: 5;
    padding-bottom: 10;
}
.disp-2 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}
.displa-2 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    padding-top: 50;
    padding-bottom: 20;
}
.mbr-section-title {
    font-style: normal;
    line-height: 1.2;
}
.sec2-h{
   padding-top: 40px;
   padding-bottom: 40px;
}
.card .card-wrapper{
    background-color: #fac769;
}
.card .card-wrapper .card-img .img-text {
    position: absolute;
    padding: .6rem;
    top: 1.5rem;
    left: 1.5rem;
    z-index: 1;
    border-radius: 100px;
    background-color: #fac769;
    color: black;
}
.mbr-text {
    font-style: normal;
    line-height: 1.6;
}
.display-4 {
    font-family: 'Poppins', sans-serif;
    font-size: 0.85rem;
    font-weight: 300;
    margin: 4;
}
.displ-4 {
    font-family: 'Poppins', sans-serif;
    font-size: 0.85rem;
    font-weight: 300;
    margin: 40 10;
}

.cid-qIjES4e5vV {
    padding-top: 90px;
    padding-bottom: 0px;
    background-color: #ffffff;
}
section {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
section, .container, .container-fluid {
    position: relative;
    word-wrap: break-word;
}
.cid-qIjFtNvZSJ {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #ffffff;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    
}

.display-7 {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    margin-left: 15;
    padding-bottom: 10;
}
.display-7b {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
}
section, .container, .container-fluid {
    position: relative;
    word-wrap: break-word;
}

.cid-qIjGVVeB7i {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #fac769;
}
.justify-content-center {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.mbr-section-btn {
    margin-left: -.25rem;
    margin-right: -.25rem;
    font-size: 0;
}
.cid-qIjMDc36tP {
    padding-top: 90px;
    padding-bottom: 30px;
    background-color: #ffffff;
}
.cid-qIjMDc36tP .logo-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 4rem;
}
img {
    vertical-align: middle;
    border-style: none;
}
a, a:hover {
    color: #66458e;
}
a, a:hover {
    text-decoration: none;
}
a {
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
}
.cid-qIjMDc36tP .mbr-text {
    color: #767676;
}

.display-7 {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
}
.mbr-text {
    font-style: normal;
    line-height: 1.6;
}
.mbr-light {
    font-weight: 300;
}
.cid-qIjMDc36tP .social-media {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 4rem;
}
.cid-qIjMDc36tP .social-media ul {
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
}.cid-qIjMDc36tP .social-media ul li {
    padding: 4px;
    display: inline-block;
}
.c1{
    text-align: center;
}

.cid-qIjMDc36tP .icon-transition span {
    color: #ffffff;
    display: block;
    padding: 0.1rem 0.8rem;
    height: 3em;
    line-height: 3em;
    border-radius: 50%;
    background-color: #fac769;
    width: 3em;
    transition: all 0.3s ease-out 0s;
    font-size: 13px;
}
.cid-qIjMDc36tP .icon-transition span:hover {
    background-color: #f5d69c;
}


.box1{

    position: relative;
}


.box2{
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    z-index: 11;
    transition: opacity 0.5s;
  }
  .box2:hover{
	opacity: 1;
  }

.box1 img{
	width: 100%;
    height: 100%;
}
.background-wrap{
                position: absolute;
                width: 100%; 
                opacity: 0.6;
                height: 100%;
                z-index: 1;
                background-color: black;
                
}
.plus{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;    
    transform: translate(-50%, -50%);
    z-index: 2;
}
.round{
    background-color: black;
    border-radius: 50%;
    border-color: white;

}
    
.wel{
    position: absolute;
    bottom: 0;
    color: white;
    font-weight: bold;
    z-index: 3;
    padding: 15;
}
.hover-header{
    padding-top: 50px;

}
.col-md-3{
    padding: 5;
}

.navbar .n-show{
    display: none;
}

.navbar .n-close{
    display: block;
}

.navbar .collapsed .n-show{
    display: block !important;   
}

.navbar .collapsed .n-close{
    display: none !important;
}

.opened{
    background-color: rgb(250, 199, 105);
}
.trans{
        min-height: 77px;
        transition: all .3s;
        background: #fac769;
    
}
.navbarFixed {
    background-color: #fac769;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px white;
    border-radius: .25rem;
}